<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clipboard history</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <h1>Clipboard history</h1>
</header>

<ul class="timeline" id="timeline">
    <li>
        <div class="direction-r">
            <div class="flag-wrapper"><span class="hexa"></span><span class="time-wrapper"><span
                    class="time">22:13:21</span></span></div>
            <div class="desc">direction-r</div>
        </div>
    </li>
    <li>
        <div class="direction-l">
            <div class="flag-wrapper"><span class="hexa"></span><span class="time-wrapper"><span
                    class="time">22:15:03</span></span></div>
            <div class="desc">torage.clientId === ('null' || 'turnedoff') ?</div>
        </div>
    </li>
</ul>
<script src="{{ url_for('static', filename='main.js') }}"></script>
<script>
    getClipboardHistory();
</script>
</body>
</html>